main:
{
	id: 1;
	attempts_limit: 100;
	debug: true;
};
db:
{
	host: "localhost";
	username: "root";
	password: "1";
	database: "scada_db";
};
memcached:
{
	host: "localhost2";
	port: 11211;
};
reader:
{
	type: 1;
	port: "/dev/ttyUSB1";
};
